.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      a.navbar-brand(href="/")
        img(alt="" src="")
        !=wiki.title
    ul.nav.navbar-nav.navbar-right
      li
        a(href="/") New Article
      li
        a(href="/") Login

